html {
  height: 100%;
}

body{
    background: url("../image/bg-org.png");
    margin: 0px;
    min-height: 100%;
}

.wrapper-0{
    width: 1120px;
    margin: 0 auto;
    background: #fffdd7;
}

.wrapper{
    width: 1020px;
    margin: 0 auto;
    font-family: 'Comic Sans', 'Comic Sans MS';
}

.sample-file{
    padding-left: 30px;
}

.kanban{
    height: 100px;
    padding-top: 20px;
}

.kanban .title{
    position: absolute;
    text-align: center;
}

.kanban .title1{
    font-size: xx-large;
}

.kanban .title2{
    font-size: x-large;
}

.kanban .note{
    margin-left: 180px;
    padding-top: 8px;
}

.kanban .note span{
    display: block;
}

#tactics-input{
    padding: 20px 0px;
}

.tactics-symbol-select{
    padding: 20px 0px;
    display: grid;
    grid-template-columns: 180px 560px 10px auto;
    align-items: center;
}

#tactics-select{
    font-size: x-large;
    background: white;
}

#tactics-description{
    float: right;
}

#add-symbol-input{
    font-size: x-large;
    min-width: 240px;
}




#display-page{
    position: relative;
}

#display-title{
    font-size: x-large;
}

#display-output{
    border: 2px solid #bbb;
    margin-top: 45px;
    width: 100%;
    min-height: 300px;
    white-space: pre;
}

.footer-page{
    margin-top: 20px;
}

.relate-links{
    margin-bottom: 30px;
}

.relate-links-title{
    padding: 5px 0px;
    font-size: x-large;
}

.relate-link{
    padding-top: 10px;
    margin-right: 30px;
    font-size: larger;
}

.copyright-icon{
    font-family: fantasy;
    padding-right: 3px;
}

.copyright{
    padding-bottom: 10px;
}