html {
  height: 100%;
}

body{
    background: url("../image/bg-org.png");
    margin: 0px;
    min-height: 100%;
}

.wrapper-0{
    width: 1120px;
    margin: 0 auto;
    background: #fffdd7;
}

.wrapper{
    width: 1020px;
    margin: 0 auto;
    font-family: 'Comic Sans', 'Comic Sans MS';
}

.sample-file{
    padding-left: 30px;
}

.kanban{
    height: 100px;
    padding-top: 20px;
}

.kanban .title{
    position: absolute;
    text-align: center;
}

.kanban .title1{
    font-size: xx-large;
}

.kanban .title2{
    font-size: x-large;
}

.kanban .note{
    margin-left: 180px;
    padding-top: 8px;
}

.kanban .note span{
    display: block;
}

#tactics-input{
    padding: 20px 0px;
}

.tactics-symbol-select{
    padding: 20px 0px;
    display: grid;
    grid-template-columns: 180px 560px 10px auto;
    align-items: center;
}

#tactics-select{
    font-size: x-large;
    background: white;
}

.text-right{
    float: right;
}

#add-symbol-input{
    font-size: x-large;
    min-width: 240px;
}

#tactics-console{
    border: 2px solid #bbb;
    margin-top: 10px;
    width: 100%;
    height: auto;
    padding: 10px;
    display: table; 
}

#tactics-content-description{
    border: 4px double#bbb;
    width: 100%;
    white-space: initial;
    padding: 5px 10px;
}

#tactics-args{
    padding-top: 30px;
    display: grid;
    grid-template-columns: 1fr 10px 80px 30px 1fr 10px 80px 30px 1fr 10px 80px 0px;
    align-items: center;
}

#tactics-args >*{
    margin-bottom: 20px;
}

#ctrl-pannel{
    padding: 10px 0px;
    position: relative;
}

.click-btn-v2{
    height: 35px;
    width: 150px;
    background: #66DDAA;
    font-size: larger;
    font-family: inherit;
    margin-right: 30px;
}

.click-btn-v2:hover {
    background-color: #58bc9b;
}

.last-button{
    position: absolute;
    right: 3px;
    width: 150px;
    margin-right: 0px;
}

/* table */
table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    border: 1px solid silver;
    margin-top: 50px;
}

td,
th {
    padding: 8px;
    word-break: break-all;
}

td{
    border: none;
}

th {
    color: white;
    border: 1px solid silver;
    background: #535353;
}

button.remove{
    font-family: fantasy;
}

.remove{
    display: grid;
}

#th-name{
    width: 150px;  
}

#th-del{
    width: 50px;  
}

#display-page{
    position: relative;
    margin-top: 50px;
}

fieldset.scan-block {
    border: 2px groove #ddd;
    padding: 0 20px 20px 20px;
    box-shadow:  0px 0px 0px 0px #000;
}

legend.scan-block {
    width:inherit;
    padding:0 10px;
    border-bottom:none;
    font-size: xx-large;
}

.scan-output{
    border: 2px solid #bbb;
}

.output-stage1{
    margin: 10px;
    display: grid;
    grid-template-columns: 200px 550px auto;
    align-items: center;
}

.output-norn-image{
    text-align: left;
}

.output-info1{
    height: 100%;
}

.output-info1-baseinfo{
    padding-top:10px;
    display: grid;
    grid-template-columns: 150px 30px 150px 30px 150px 30px;
    align-items: center;
}

.base-data{
    border-bottom: 1px solid #bbb;
    position: relative;
    margin-bottom: 20px;
}

.base-data-value{
    position: absolute;
    right: 0px;
}

.output-info2{
    text-align: center;
}

.bomb-icon{
    margin-top: 10px;
    height: 150px;
}

.bomb-rate{
    padding-top: 20px;
    font-size: 60px;
    text-align: center;
}

.output-stage2{
    margin: 10px;
    min-height: 100px;
    border: 2px solid #bbb;
    padding: 10px;
}

.footer-page{
    margin-top: 20px;
}

.relate-links{
    margin-bottom: 30px;
}

.relate-links-title{
    padding: 5px 0px;
    font-size: x-large;
}

.relate-link{
    padding-top: 10px;
    margin-right: 30px;
    font-size: larger;
}

.copyright-icon{
    font-family: fantasy;
    padding-right: 3px;
}

.copyright{
    padding-bottom: 10px;
}