body{
    background: url("../image/bg-org.png");
    margin: 0px;
}

#gradient-horizontal{
    --color-stop-1: #a770ef;
    --color-stop-2: #cf8bf3;
    --color-stop-3: #fdb99b;
}

#gradient-vertical-1{
    --color-stop-1: #a770ef;
    --color-stop-2: #cf8bf3;
    --color-stop-3: #fdb99b;
}

#gradient-vertical-2{
    --color-stop-1: #00c3ff;
    --color-stop-2: #77e190;
    --color-stop-3: #ffff1c;
}

.wrapper-0{
    width: 1120px;
    margin: 0 auto;
    background: #fffdd7;
}

.wrapper{
    width: 1020px;
    margin: 0 auto;
    font-family: 'Comic Sans', 'Comic Sans MS';
}

.sample-file{
    padding-left: 30px;
}

.kanban .title{
    position: absolute;
    text-align: center;
    top: 5px;
}

.kanban .title1, .kanban .title2{
    font-size: x-large;
}

.kanban .note{
    margin-left: 200px;
    padding-top: 5px;
}

.prepare-data{
    margin: 20px 0px;
    position: relative;
}

.prepare-data .step1{
    width: 480px;
    display: inline-block;
}

.step .description{
    padding: 10px 0px;
}

.step .description-2{
    padding: 0px;
    padding-bottom: 5px;
    display: inline-block;
}

.select-proto{
    display: inline-block;
}

.select-proto > *{
    max-width: 265px;
    font-family: inherit;
}

.upload-panel{
    padding: 0px;
}

.drop-zone{
    border: 2px dashed #bbb;
    min-height: 200px;
    position: relative;
    cursor: pointer;
}

.upload-icon{
    position: relative;
    text-align: center;
    top: 20px;
}

.drag-description{
    position: relative;
    text-align: center;
    top: 5px;
    font-size: larger;
}

.upload-file-icon{
padding: 0px;
    width: fit-content;
    padding: 0px 5px;
    background: #ccc;
    color: white;
    position: absolute;
    bottom: 3px;
    right: 3px;
    cursor: default;
}

.ctrl-pannel{
    padding: 10px 0px;
    position: relative;
}

.click-btn-v2{
    height: 35px;
    width: 90px;
    background: #66DDAA;
    font-size: larger;
    font-family: inherit;
    margin-right: 30px;
}

.click-btn-v2:hover {
    background-color: #58bc9b;
}

.last-button{
    position: absolute;
    right: 3px;
    width: 150px;
    margin-right: 0px;
}

.prepare-data .step2{
    width: 480px;
    display: inline-block;
    position: absolute;
    right: 0px;
}

.status{
    border: 1px solid #ccc;
    padding: 10px;
    position: relative;
    margin-top: 50px;
    margin-bottom: 100px;
}

.status-data{
    padding: 5px 0px;
}

.status-title{
    min-width: 70px;
    display: inline-block;    
}

.status-content{
    padding: 0px;
}

#display-page{
    position: relative;
}

#display-title{
    position: absolute;
    font-size: x-large;
    top: -45px;
}

#download-output-button{
    right: 200px;
    top: -45px;
}

#clear-output-button{
    padding: 0px;
    top: -45px;
}

#display-output{
    border: 2px solid #bbb;
    margin-top: 45px;
    width: 100%;
    min-height: 300px;
    white-space: pre;
}

.footer-page{
    margin: 20px 0px;
}

.relate-links{
    margin-bottom: 30px;
}

.relate-links-title{
    padding: 5px 0px;
    font-size: x-large;
}

.relate-link{
    padding-top: 10px;
    margin-right: 30px;
    font-size: larger;
}

.copyright-icon{
    font-family: fantasy;
    padding-right: 3px;
}

.copyright{
    padding-bottom: 10px;
}

.container {
    padding: 10px;
    border: 1px solid #ccc;
}

#proto-list-select {
    padding: 5px;
    margin: 5px 0px;
}

#drop_zone {
    border: 2px dashed #bbb;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 25px;
    text-align: center;
    font: 20pt bold 'Vollkorn';
    color: #bbb;
}

#output {
    border: 1px solid #999;
    margin: 10px 0px;
    width: 100%;
    min-height: 500px;
    white-space: pre;
}